body {
    background: #f9f9f9;
}
.banner {
	padding: 12px 0;
}
.callout {
    background: url(../img/rfi-header.jpeg) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    color: #ffffff;
    padding: 50px 0;
}
h1 {
	margin: 0 auto;
	float: none;
	color: #ffffff;
	font-size: 1.8em;
	font-family:  'Century Gothic', arial, sans-serif;
}
.request-info {
	padding: 80px 40px;
    background: #ffffff;

}
.form-group, .testimonials {

}
.tab-title.small-6.columns {

    padding: 10px 0;

}
.thumbnail img {
    height: 80%;
    width: 80%;
}
.tabs.small-12.columns > li.tab-title.small-6.columns > a {
    background-color: transparent;
 }
.tab-title {
  background-color: #cccccc;
  font-weight: 800;
  padding: 10px;
  line-height: 0;
  display:  block;
  margin: 0;
}
.tab-title.active {
    background-color: #ad1b31;
}
.tab-title a {
    background-color: none;
    padding: 0;
}
.prev-tab {
    margin-right: 40px;
}
legend {
    display:  none;
}
.panel {
	padding: 20px;
}
.testimonials {
     padding: 0;
     margin: 0;
     background-color: transparent;
}
.student-info {
    padding: 0;
    margin: 0;
    
}
h4.student-name {
    font-size: 1.2em;
    padding-bottom: 0;
    color: #AD1B31;
    
}
p.student-alumni {
	font-size: .8em !important;
}
span.student-title {
	font-weight: 800;
	font-size: .8em;
}
.testimonials p {
    font-size: 1em;
}
.testimonials h6 {
    font-size: .8em;
    font-weight: 800;
}
.student-quote {
    margin: 20px 0 0 0;
    font-size: .8em;
    color: #666666;
}
blockquote {
    padding: 0;
    border-left: none;
    font-style: italic;   
}
.accreditation p {
    font-size: .8em;
}
.fieldset {
    margin: 0;
    padding: 0;
}
.button {
    margin: 10px;
}
.alignright {
    float: right;
}
